iframe#game-frame(ng-if="miniclipURL", ng-src="{{miniclipURL}}", data-width="{{game.width}}", data-height="{{game.height}}" width="{{game.width}}", height="{{game.height}}", frameborder="0", scrolling="no", style="border:0")
