iframe#ae45f6f7(name='ae45f6f7', ng-src='{{ topIframeAd.iframe}}', framespacing='0', frameborder='no', scrolling='no', width='728', height='90')
    a(ng-href='{{ topIframeAd.a}}', target='_blank')
        img(ng-src='{{ topIframeAd.img}}', border='0', alt='')
