iframe#a5464d52(name='a5464d52', ng-src='{{ rightSkyAd.iframe}}', framespacing='0', frameborder='no', scrolling='no', width='160', height='600')
    a(ng-href='{{ rightSkyAd.a}}', target='_blank')
        img(ng-src='{{ rightSkyAd.img}}', border='0', alt='')
